@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}


body{
    font-family: "GmarketSansMedium", sans-serif;
    color:#FFFFFF;
    background-color: #5B2386;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1200px;
    
}
.btn{
  border:none;
  border-radius: 12px;
  padding:20px 50px;
  font-weight: bold;
  font-family: inherit;
  cursor:pointer;
}
.header-hidden{
  display:none;
}
.header {
    text-align: center;
}

.header-img {
    height: 200px;
    position: relative;
    display: inline-block;
    margin-bottom:24px ;
    background-image: url('./img/clock.png');
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: contain;
}
.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:100px;
}
.main-hidden{
  display: none;
}
.title {
    width: 564px;
    height:112px;
    display: block;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    
}
.intro-section{
  margin-top: 160px;
  width: 485px;
  display: flex;
  justify-content: center;
  position: relative
}


.tag {
    font-family:"OTEnjoystoriesBA";
    color:#F5DF4D;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 24px;

}
.quotes{
  width:100%;
  display: block;
}
.phrase{
  font-size: 24px;
  font-weight: 700;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  width: 380px;  
}
.p-text{

  font-size: 18px;
  font-weight: 400;
}
.text{
    text-align: center;
}
.input1{
   /* width:228px;
   height: 56px; */
   border-radius:8px;
   padding: 16px 40px ;


}
.question{
    background-color: #FCEE21;
    color:#5B2386;
    
}
.btn-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  gap:8px;
}
.big-text{
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
}
.action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:12px;
}
.go-btn
{
     background-color: #FCEE21;
    color:#5B2386;
    
}
.share-btn{
  background-color: #FFFFFF;
  color:#5B2386;
  border-radius: 12px;
    padding: 20px 50px 20px 50px;
    font-weight: bold ;

}
.footer{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 160px;
  gap:20px;
}
.logo{
  width: 168px;
  height: 36px;
  
}
.text2{
  font-family:"Noto Sans KR" ;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;

}
.modal{
  
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  display:flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  font-family:"OTEnjoystoriesBA";
  color:#5B2386;
  font-size: 96px;
  font-weight: 400;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding:40px;
  text-align: center;
}
.end-btn{
  font-family:"GmarketSansMedium" ;
  background-color: #FCEE21;
  color:#5B2386;
}
.hidden{
    display: none;
}
/* 로고 백그라운드 시계를 넣어서 조정 */

@media screen and (max-width: 360px) {
   
  .container{
    padding:35px 15px;
  }
  .header-img{
    height:130px;
    margin-bottom: 32px;
  }
  .title{
    width:278px;
    height:54px;
    margin-top:36px ;
  }
  .tag{
    font-size: 22px;
    line-height: 100%;
    
  }
  .intro-section{
    margin-top:70px;
    width:330px;

  }
  .phrase{
    font-size: 14px;
    width:290px;
  }
  .p-text{
    font-size: 14px;
  }
  .main{
    gap:50px;
  }
  .text{
    font-size:14px;
  }
  .input1{
    
    padding: 12px 35px;
  }
  .btn-wrap{
    
    gap:0px;
  }
  .click{
    width:43px ;
    height:48px;
  }
  .question{
    font-size:14px;
    font-weight: 500;
    padding:20px 38px;
    width:240px;
    height:72px;
  }
  .big-text{
    font-size :24px;
    font-weight: 500px;
  }
  .action{
    width:313px;
  }
  .btn{
    padding:16px 24px;
  }
  .footer{
    margin-top:70px ;
  }


 .modal-content {
    width:330px;
    height:500px;
    max-width: 300px;
    padding: 40px 41px;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;
  }

  .modal-content img {
    width: 100%;
    max-width: 240px;
    height: auto;
  }

  .modal-content h2 {
    font-size: 64px;
    margin-bottom: 12px;
  }

  .modal-content p {
    font-size: 24px;
    
  }

  .end-btn {
    width: 100%;
    font-size: 14px;
    padding: 16px;
  }
}











